<center>
    
# äººå·¥æ™ºèƒ½é«˜é˜¶äººæ‰åŸ¹è®­ç­
## è¯¾ç¨‹ä½œä¸šï¼ˆäºŒï¼‰

---

> ğŸ’¥è¯´æ˜ğŸ’¥
> 1. æœ¬æ¬¡ä½œä¸šæœ€æ™šæäº¤æ—¶é—´ï¼š **<font color='red'>2019å¹´6æœˆ12æ—¥</font>**
> 2. ä½œä¸šä¸­ä»¥`Q-n`æ ‡æ³¨çš„å‡ ä¸ªé—®é¢˜çš„ç­”æ¡ˆè¯·é€šè¿‡[ç­”é¢˜é¡µé¢](https://app.askform.cn/43245470-5adc-4293-9427-0a33e9743625.aspx?Type=2)è¿æ¥çš„Formè¡¨æ ¼æäº¤ï¼Œæäº¤ä¸­å¡«å†™çš„å§“åè¯·ä¸æœ¬äººå§“åä¿æŒä¸€è‡´ï¼›
> 3. ä»¥`Lesson02-HW-{ä½ çš„åå­—è‹±æ–‡}.ipynb`å‘½åçš„ä½œä¸šæ–‡ä»¶è¯·å‚è€ƒ[æ–‡æ¡£](../How-To.md)è¯´æ˜æäº¤åˆ°Gitçš„ä»£ç ä»“åº“ï¼›
> 4. å¦‚æœå®Œæˆä½œä¸šè¿‡ç¨‹ä¸­ï¼Œä½ æœ‰ä»»ä½•æ–°çš„æƒ³æ³•å’Œè§£é¢˜æ€è·¯ï¼Œå¯ä»¥å®Œæˆä¸€ç¯‡åˆ†äº«æ–‡æ¡£(å»ºè®®ç”¨MarkDownæ’°å†™)ï¼Œå°†æ ¹æ®è´¨é‡ç»™äºˆâ­å¥–åŠ±
> 5. ğŸš« **æ³¨æ„ï¼š** è¯·ä¸è¦ç›´æ¥ç¼–è¾‘è¯¥æ¨¡æ¿æ–‡ä»¶ï¼Œå»ºè®®å¤åˆ¶è¯¥æ¨¡æ¿æ–‡ä»¶ç”Ÿæˆæ–°çš„ä»¥ä½ è‡ªå·±å§“åå‘½åçš„ä½œä¸šæ–‡ä»¶ï¼ˆ`Lesson02-HW-{ä½ çš„åå­—ä¸­æ–‡}.ipynb`ï¼‰

### Q1
å‚è€ƒè¯¾ç¨‹ä¸­ä½¿ç”¨`numpy`è¿›è¡Œæ•°ç†ç»Ÿè®¡çš„è¿‡ç¨‹ï¼Œä½¿ç”¨numpyæä¾›çš„åº“`random.normal`ç”Ÿæˆ1ä¸‡ä¸ªæ ·æœ¬

æœ¬é¢˜ç›®ä¸­ä½¿ç”¨ä¸‹è¡¨æ ¼ä¸­**åä¸­åœ°åŒºçš„å¥³æ€§èº«é«˜æ•°æ®**ä½œä¸ºå‚è€ƒæº

<center>

##### ä¸­å›½æˆå¹´äººèº«é«˜ï¼Œä½“é‡å‡å€¼å’Œæ ‡å‡†å·®çš„å‚è€ƒå€¼ ï¼ˆ2015ï¼‰
|æ€§åˆ«|ä¸œåŒ—ååŒ—|è¥¿åŒ—|ä¸œå—|åä¸­|åå—|è¥¿å—|
|-|-|-|-|-|-|-|
|èº«é«˜ï¼Œä½“é‡|å‡å€¼ï¼Œæ ‡å‡†å·®|å‡å€¼ï¼Œæ ‡å‡†å·®|å‡å€¼ï¼Œæ ‡å‡†å·®|å‡å€¼ï¼Œæ ‡å‡†å·®|å‡å€¼ï¼Œæ ‡å‡†å·®|å‡å€¼ï¼Œæ ‡å‡†å·®|
|ç”·(mm)|1693, 56.6|1684, 53.7|1686, 55,2|1669, 56.3|1650, 57.1|1647, 56.7|
|å¥³(mm)|1586, 51.8|1575, 51.9|1575, 50.8|1560, 50.7|1549, 49.7|1546, 53.9|
|ç”·(kg)|64, 8.2|60, 7.6|59, 7.7|57, 6.9|56, 6.9|55, 6.8|
|å¥³(kg)|55, 7.1|52, 7.1|51, 7.2|50, 6.8|49, 6.5|50, 6.9|


> **æ³¨æ„ï¼š**ä¸ºä¿è¯ç»“æœçš„ä¸€è‡´æ€§ï¼Œè¯·æ¯æ¬¡åœ¨ä½ æ‰§è¡Œéšæœºåˆ†å¸ƒç”Ÿæˆä¹‹å‰ï¼Œä½¿ç”¨`np.random.seed(42)`ï¼Œäº§ç”ŸåŒæ ·çš„ç§å­å€¼

#### é—®ï¼š ä½ ç”Ÿæˆçš„åˆ†å¸ƒçš„å®é™…äº§ç”Ÿçš„æ–¹å·®ã€å‡å€¼ã€ä¸­ä½æ•°å„æ˜¯å¤šå°‘(ä¿ç•™ä¸¤ä½å°æ•°)ï¼Ÿ
- 50.70, 1560.01, 1575.91
- 50.87, 1560, 1560.69
- 2588.06, 1559.89, 1559.87
- 50.87, 1559.89, 1559.87

In [10]:
import numpy as np
np.random.seed(42)
# your code
height_10000=np.random.normal(1560, 50.7, 10000) 
print("variance:",round(np.var(height_10000),2))#æ–¹å·®
print("mean:",round(np.mean(height_10000),2))#å‡å€¼
print("median:",round(np.median(height_10000),2))#ä¸­å€¼

variance: 2588.06
mean: 1559.89
median: 1559.87

## Q2-Q9
Q2-Q9å°†ä½¿ç”¨kaggleå…¥é—¨ä¸­å¸¸ä½¿ç”¨çš„æ³°å¦å°¼å…‹æ•°æ®é›†ï¼Œè¯¦æƒ…å¯ä»¥è®¿é—®[Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic)ï¼Œä¸ºäº†æ–¹ä¾¿å¤„ç†æˆ‘ä»¬å·²ç»å¯¹åŸå§‹æ•°æ®è¿›è¡Œäº†åˆæ­¥çš„å¤„ç†ï¼ˆå¦‚ç¼ºå¤±å€¼ã€å¼‚å¸¸å€¼ç­‰ï¼‰ã€‚

åœ¨è¿™ä¸€ç³»åˆ—é¢˜ç›®ä¸­ï¼Œæˆ‘ä»¬å°†ç»¼åˆä½¿ç”¨`numpy`, `pandas`å’Œ`matplotlib`è§£å†³ä¸€ä¸ªæ³°å¦å°¼å…‹å·æ•°æ®çš„åˆæ­¥åˆ†æé—®é¢˜ã€‚åœ¨æœºå™¨å­¦ä¹ ä¸­ï¼Œé€šè¿‡å¤šç§ä¸åŒçš„æ–¹å¼å¯¹æ•°æ®è¿›è¡Œåˆ†ææœ‰åŠ©äºåŠæ—¶æ•è·æ•°æ®ç‰¹å¾å’Œæ•°æ®ä¹‹é—´çš„å…³è”ã€‚

In [11]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

é¦–å…ˆæˆ‘ä»¬ä½¿ç”¨pandaså¯¼å…¥æ•°æ®

In [14]:
data = pd.read_csv('../data/titanic_train.csv',
                  index_col='PassengerId')

æŸ¥çœ‹æ•°æ®ç»“æ„å’ŒåŸºæœ¬ç»„æˆ

In [15]:
data.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

æ¯ä¸ªå­—æ®µçš„å«ä¹‰å¦‚ä¸‹ï¼š

| **Variable** | **Definition**                             | **Key**                                        |
| ------------ | ------------------------------------------ | ---------------------------------------------- |
| survival     | Survival                                   | 0 = No, 1 = Yes                                |
| pclass       | Ticket class                               | 1 = 1st, 2 = 2nd, 3 = 3rd                      |
| sex          | Sex                                        |                                                |
| Age          | Age in years                               |                                                |
| sibsp        | # of siblings / spouses aboard the Titanic |                                                |
| parch        | # of parents / children aboard the Titanic |                                                |
| ticket       | Ticket number                              |                                                |
| fare         | Passenger fare                             |                                                |
| cabin        | Cabin number                               |                                                |
| embarked     | Port of Embarkation                        | C = Cherbourg, Q = Queenstown, S = Southampton |

In [17]:
data.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

ä¸ºäº†è®©å¤§å®¶å¿«é€Ÿç†Ÿæ‚‰pandasï¼Œæˆ‘ä»¬å‡†å¤‡äº†å‡ ä¸ªç®€å•çš„æ“ä½œï¼š

1. è®©æˆ‘ä»¬å°è¯•ä»ä¹˜å®¢ä¸­è¿‡æ»¤åªæ˜¾ç¤ºé€šè¿‡Cherbourg(Embarked=C) ç™»é™†å¹¶ä¸”ä»˜è´¹å¤§äº200ç£…ï¼ˆfare > 200ï¼‰ï¼š

In [19]:
data[(data['Embarked'] == 'C') & (data.Fare > 200)].head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
378,0,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.5000,C82,C

2. æˆ‘ä»¬å¯ä»¥ä½¿ç”¨`sort_values`é™åºæ’åˆ—è¿™äº›æ•°æ®ï¼Œæ’åºå…³é”®å­—é€šè¿‡`by`å­—æ®µå®šä¹‰

In [22]:
data[(data['Embarked'] == 'C') & 
     (data['Fare'] > 200)].sort_values(by='Fare',
                               ascending=False).head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C

3. æˆ‘ä»¬æ¥å°è¯•åœ¨æ•°æ®ä¸­æ·»åŠ ä¸€ä¸ªæ–°çš„ç‰¹å¾ï¼ˆä¸€ä¸ªæ–°çš„columnï¼‰

In [5]:
def age_category(age):
    '''
    < 30 -> 1
    >= 30, <55 -> 2
    >= 55 -> 3
    '''
    if age < 30:
        return 1
    elif age < 55:
        return 2
    elif age >= 55:
        return 3

In [6]:
age_categories = [age_category(age) for age in data.Age]
data['Age_category'] = age_categories

å¦ä¸€ç§å®ç°æ–¹æ³•æ˜¯é€šè¿‡`.apply`å‡½æ•°å®ç°
```python
data['Age_category'] = data['Age'].apply(age_category)
```

ä½ å¯ä»¥é€šè¿‡`data.head()`å‘½ä»¤æŸ¥çœ‹æ–°çš„æ•°æ®çš„æƒ…å†µ

In [7]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_category
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1.0
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2.0
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2.0
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,2.0

### **Q2. èˆ¹ä¸Šæœ‰å¤šå°‘ç”·æ€§å’Œå¥³æ€§ï¼Ÿ**
- 412 ç”·æ€§ 479 å¥³æ€§
- 314 ç”·æ€§ 577 å¥³æ€§
- 479 ç”·æ€§ 412 å¥³æ€§
- 577 ç”·æ€§ 314 å¥³æ€§

In [30]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#
data[data["Sex"]=="male"]
data[data["Sex"]=="female"]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q
48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S
53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.0,1,0,2926,26.0000,NaN,S
57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.5000,NaN,S
59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN
...,...,...,...,...,...,...,...,...,...,...,...
808,0,3,"Pettersson, Miss. Ellen Natalia",female,18.0,0,0,347087,7.7750,NaN,S
810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.0,1,0,113806,53.1000,E8,S
814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S
817,0,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S
821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S
824,1,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S
830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C
836,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C
843,1,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
853,0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C
854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S
856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S
857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

### **Q3. å½“æ—¶èˆ¹ä¸Šæœ‰å¤šå°‘ç”·æ€§æŒæœ‰äºŒçº§èˆ¹ç¥¨ï¼ˆPclass=2ï¼‰ï¼Ÿ**
- 104
- 108
- 112
- 125

In [41]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#
data[(data["Sex"]=="male")&(data["Pclass"]==2)]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
673,0,2,"Mitchell, Mr. Henry Michael",male,70.00,0,0,C.A. 24580,10.5000,NaN,S
674,1,2,"Wilhelms, Mr. Charles",male,31.00,0,0,244270,13.0000,NaN,S
675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0000,NaN,S
685,0,2,"Brown, Mr. Thomas William Solomon",male,60.00,1,1,29750,39.0000,NaN,S
686,0,2,"Laroche, Mr. Joseph Philippe Lemercier",male,25.00,1,2,SC/Paris 2123,41.5792,NaN,C
696,0,2,"Chapman, Mr. Charles Henry",male,52.00,0,0,248731,13.5000,NaN,S
706,0,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.00,0,0,250655,26.0000,NaN,S
715,0,2,"Greenberg, Mr. Samuel",male,52.00,0,0,250647,13.0000,NaN,S
723,0,2,"Gillespie, Mr. William Henry",male,34.00,0,0,12233,13.0000,NaN,S
724,0,2,"Hodges, Mr. Henry Price",male,50.00,0,0,250643,13.0000,NaN,S
729,0,2,"Bryhl, Mr. Kurt Arnold Gottfrid",male,25.00,1,0,236853,26.0000,NaN,S
733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0000,NaN,S
734,0,2,"Berriman, Mr. William John",male,23.00,0,0,28425,13.0000,NaN,S
735,0,2,"Troupiansky, Mr. Moses Aaron",male,23.00,0,0,233639,13.0000,NaN,S
756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
758,0,2,"Bailey, Mr. Percy Andrew",male,18.00,0,0,29108,11.5000,NaN,S
792,0,2,"Gaskell, Mr. Alfred",male,16.00,0,0,239865,26.0000,NaN,S
796,0,2,"Otter, Mr. Richard",male,39.00,0,0,28213,13.0000,NaN,S
801,0,2,"Ponesell, Mr. Martin",male,34.00,0,0,250647,13.0000,NaN,S
809,0,2,"Meyer, Mr. August",male,39.00,0,0,248723,13.0000,NaN,S
813,0,2,"Slemen, Mr. Richard James",male,35.00,0,0,28206,10.5000,NaN,S
818,0,2,"Mallet, Mr. Albert",male,31.00,1,1,S.C./PARIS 2079,37.0042,NaN,C
828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
842,0,2,"Mudd, Mr. Thomas Charles",male,16.00,0,0,S.O./P.P. 3,10.5000,NaN,S
849,0,2,"Harper, Rev. John",male,28.00,0,1,248727,33.0000,NaN,S
862,0,2,"Giles, Mr. Frederick Edward",male,21.00,1,0,28134,11.5000,NaN,S
865,0,2,"Gill, Mr. John William",male,24.00,0,0,233866,13.0000,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.00,0,0,C.A./SOTON 34068,10.5000,NaN,S
887,0,2,"Montvila, Rev. Juozas",male,27.00,0,0,211536,13.0000,NaN,S

### **Q4. æ‰€æœ‰ä¹˜å®¢Fareçš„ä¸­ä½æ•°å’Œæ ‡å‡†å·®æ˜¯å¤šå°‘ï¼Ÿï¼ˆä¿ç•™ä¸¤ä½å°æ•°ï¼‰**
- ä¸­ä½æ•°ä¸º 14.45, æ ‡å‡†å·®ä¸º 49.69
- ä¸­ä½æ•°ä¸º 15.1, æ ‡å‡†å·®ä¸º 12.15
- ä¸­ä½æ•°ä¸º 13.15, æ ‡å‡†å·®ä¸º 35.3
- ä¸­ä½æ•°ä¸º  17.43, æ ‡å‡†å·®ä¸º 39.1

In [103]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#
print(round(data["Fare"].median(),2))#ä¸­ä½æ•°
print(round(data["Fare"].std(),2))#æ ‡å‡†å·®

14.45
49.69

### **Q5. å¹¸å­˜è€…çš„å¹³å‡å¹´é¾„æ˜¯å¦é«˜äºæœ€ç»ˆæ­»äº¡çš„ä¹˜å®¢?**
- Yes
- No

> Tips: å¯ä»¥å‚è€ƒpandasçš„`groupby`å‘½ä»¤

In [45]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#

data.groupby("Survived")["Age"].mean()

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

### **Q6.å¹´é¾„å°äº30å²çš„ä¹˜å®¢æ˜¯å¦æ¯”å¹´é¾„å¤§äº60å²çš„ä¹˜å®¢æœ‰æ›´å¤§çš„å­˜æ´»æ¦‚ç‡ï¼Ÿ å­˜æ´»æ¦‚ç‡å„ä¸ºå¤šå°‘ï¼Ÿ**
- å¹´è½»äººä¸º22.7%ï¼Œå¹´é•¿è€…ä¸º40.6% 
- å¹´è½»äººä¸º40.6%ï¼Œ å¹´é•¿è€…ä¸º22.7%
- å¹´è½»äººä¸º35.3%ï¼Œå¹´é•¿è€…ä¸º27.4%
- å¹´è½»äººä¸º27.4%ï¼Œå¹´é•¿è€…ä¸º35.3%

> Tips: å¯ä»¥æŸ¥çœ‹ pandas.crosstab()å‡½æ•°çš„ç”¨æ³•

In [76]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#
print(round(len(data[(data["Survived"]==1)&(data["Age"]<30)])/len(data[data["Age"]<30]),2))#å¹´é¾„å°äº30å²çš„å­˜æ´»æ¦‚ç‡
print(round(len(data[(data["Survived"]==1)&(data["Age"]>60)])/len(data[data["Age"]>60]),2))#å¹´é¾„å¤§äº60å²çš„å­˜æ´»æ¦‚ç‡

0.41
0.23

### **Q7. å¥³æ€§æ˜¯å¦æ¯”ç”·æ€§æœ‰æ›´å¤§çš„å­˜æ´»æ¦‚ç‡? ç”·æ€§ä¸å¥³æ€§å­˜æ´»äººæ•°å„å æ‰€åœ¨æ€§åˆ«çš„ç™¾åˆ†ä¹‹å¤šå°‘ï¼Ÿ**
- ç”·æ€§ä¸º30.2%, å¥³æ€§ä¸º46.2%
- ç”·æ€§ä¸º35.7%, å¥³æ€§ä¸º74.2%
- ç”·æ€§ä¸º21.1%, å¥³æ€§ä¸º46.2%
- ç”·æ€§ä¸º18.9%, å¥³æ€§ä¸º74.2%

In [77]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#
print(round(len(data[(data["Survived"]==1)&(data["Sex"]=="male")])/len(data[data["Sex"]=="male"]),2))#ç”·æ€§çš„å­˜æ´»æ¦‚ç‡
print(round(len(data[(data["Survived"]==1)&(data["Sex"]=="female")])/len(data[data["Sex"]=="female"]),2))#å¥³æ€§çš„å­˜æ´»æ¦‚ç‡

0.19
0.74

### **Q8. ç”·æ€§ä¹˜å®¢ä¸­æœ€å—æ¬¢è¿çš„åå­—æ˜¯ä»€ä¹ˆï¼Ÿ**
- Charles
- Thomas
- William
- John

> Tipsï¼š è¯·å¯¹ç…§ç»™å‡ºçš„å‡ ä¸ªé€‰é¡¹äº†è§£åå­—å‡ºç°çš„ä½ç½®

In [96]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#
data["Name2"]=data['Name'].apply(lambda name: name.split(',')[1].split()[1])#åŸæ¥è‹±æ–‡äººåçš„ç»“æ„æ˜¯æ•™å+è‡ªå–å+å§“
data[data["Sex"]=="male"]["Name2"].mode()#æ±‚ä¼—æ•°

0    William
dtype: object

### **Q9. ç”·æ€§/å¥³æ€§çš„å¹³å‡å¹´é¾„ä¸`Pclass`çš„å…³ç³»ï¼Œå¦‚ä¸‹å£°æ˜æ­£ç¡®çš„æ˜¯(å¤šé€‰)ï¼š**
- å¹³å‡è€Œè¨€ï¼Œä¸€çº§ä»“ä¸­çš„ç”·æ€§å¹´é¾„å¹³å‡è¶…è¿‡40å²
- ä¸€çº§ä»“ä¸­å¥³æ€§çš„å¹³å‡å¹´é¾„è¶…è¿‡40å²
- æ‰€æœ‰ä¸åŒçº§åˆ«ä»“ä¸­ç”·æ€§çš„å¹³å‡å¹´é¾„éƒ½å¤§äºåŒä¸€çº§ä»“ä¸­çš„å¥³æ€§
- å¹³å‡è€Œè¨€ï¼Œä¸€çº§ä»“ä¹˜å®¢å¹´é¾„å¤§äºäºŒçº§ç¥¨ä»“ï¼ŒäºŒçº§ä»“å¤§äºä¸‰çº§ç¥¨ä»“

In [124]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#
print(data[(data["Pclass"]==1)&(data["Sex"]=="male")]["Age"].mean())#å¯¹
print(data[(data["Pclass"]==1)&(data["Sex"]=="female")]["Age"].mean())#é”™
print(pd.crosstab(data['Pclass'],data['Sex'],data['Age'],aggfunc="mean"))#å¯¹

41.28138613861386
34.61176470588235
Sex        female       male
Pclass
1       34.611765  41.281386
2       28.722973  30.740707
3       21.750000  26.507589