<center>
    
# äººå·¥æ™ºèƒ½é«˜é˜¶äººæ‰åŸ¹è®­ç­
## è¯¾ç¨‹ä½œä¸šï¼ˆäºŒï¼‰

---

> ğŸ’¥è¯´æ˜ğŸ’¥
> 1. æœ¬æ¬¡ä½œä¸šæœ€æ™šæäº¤æ—¶é—´ï¼š **<font color='red'>2019å¹´6æœˆ12æ—¥</font>**
> 2. ä½œä¸šä¸­ä»¥`Q-n`æ ‡æ³¨çš„å‡ ä¸ªé—®é¢˜çš„ç­”æ¡ˆè¯·é€šè¿‡[ç­”é¢˜é¡µé¢](https://app.askform.cn/43245470-5adc-4293-9427-0a33e9743625.aspx?Type=2)è¿æ¥çš„Formè¡¨æ ¼æäº¤ï¼Œæäº¤ä¸­å¡«å†™çš„å§“åè¯·ä¸æœ¬äººå§“åä¿æŒä¸€è‡´ï¼›
> 3. ä»¥`Lesson02-HW-{ä½ çš„åå­—è‹±æ–‡}.ipynb`å‘½åçš„ä½œä¸šæ–‡ä»¶è¯·å‚è€ƒ[æ–‡æ¡£](../How-To.md)è¯´æ˜æäº¤åˆ°Gitçš„ä»£ç ä»“åº“ï¼›
> 4. å¦‚æœå®Œæˆä½œä¸šè¿‡ç¨‹ä¸­ï¼Œä½ æœ‰ä»»ä½•æ–°çš„æƒ³æ³•å’Œè§£é¢˜æ€è·¯ï¼Œå¯ä»¥å®Œæˆä¸€ç¯‡åˆ†äº«æ–‡æ¡£(å»ºè®®ç”¨MarkDownæ’°å†™)ï¼Œå°†æ ¹æ®è´¨é‡ç»™äºˆâ­å¥–åŠ±
> 5. ğŸš« **æ³¨æ„ï¼š** è¯·ä¸è¦ç›´æ¥ç¼–è¾‘è¯¥æ¨¡æ¿æ–‡ä»¶ï¼Œå»ºè®®å¤åˆ¶è¯¥æ¨¡æ¿æ–‡ä»¶ç”Ÿæˆæ–°çš„ä»¥ä½ è‡ªå·±å§“åå‘½åçš„ä½œä¸šæ–‡ä»¶ï¼ˆ`Lesson02-HW-{ä½ çš„åå­—ä¸­æ–‡}.ipynb`ï¼‰

### Q1
å‚è€ƒè¯¾ç¨‹ä¸­ä½¿ç”¨`numpy`è¿›è¡Œæ•°ç†ç»Ÿè®¡çš„è¿‡ç¨‹ï¼Œä½¿ç”¨numpyæä¾›çš„åº“`random.normal`ç”Ÿæˆ1ä¸‡ä¸ªæ ·æœ¬

æœ¬é¢˜ç›®ä¸­ä½¿ç”¨ä¸‹è¡¨æ ¼ä¸­**åä¸­åœ°åŒºçš„å¥³æ€§èº«é«˜æ•°æ®**ä½œä¸ºå‚è€ƒæº

<center>

##### ä¸­å›½æˆå¹´äººèº«é«˜ï¼Œä½“é‡å‡å€¼å’Œæ ‡å‡†å·®çš„å‚è€ƒå€¼ ï¼ˆ2015ï¼‰
|æ€§åˆ«|ä¸œåŒ—ååŒ—|è¥¿åŒ—|ä¸œå—|åä¸­|åå—|è¥¿å—|
|-|-|-|-|-|-|-|
|èº«é«˜ï¼Œä½“é‡|å‡å€¼ï¼Œæ ‡å‡†å·®|å‡å€¼ï¼Œæ ‡å‡†å·®|å‡å€¼ï¼Œæ ‡å‡†å·®|å‡å€¼ï¼Œæ ‡å‡†å·®|å‡å€¼ï¼Œæ ‡å‡†å·®|å‡å€¼ï¼Œæ ‡å‡†å·®|
|ç”·(mm)|1693, 56.6|1684, 53.7|1686, 55,2|1669, 56.3|1650, 57.1|1647, 56.7|
|å¥³(mm)|1586, 51.8|1575, 51.9|1575, 50.8|1560, 50.7|1549, 49.7|1546, 53.9|
|ç”·(kg)|64, 8.2|60, 7.6|59, 7.7|57, 6.9|56, 6.9|55, 6.8|
|å¥³(kg)|55, 7.1|52, 7.1|51, 7.2|50, 6.8|49, 6.5|50, 6.9|


> **æ³¨æ„ï¼š**ä¸ºä¿è¯ç»“æœçš„ä¸€è‡´æ€§ï¼Œè¯·æ¯æ¬¡åœ¨ä½ æ‰§è¡Œéšæœºåˆ†å¸ƒç”Ÿæˆä¹‹å‰ï¼Œä½¿ç”¨`np.random.seed(42)`ï¼Œäº§ç”ŸåŒæ ·çš„ç§å­å€¼

##### é—®ï¼š ä½ ç”Ÿæˆçš„åˆ†å¸ƒçš„å®é™…äº§ç”Ÿçš„æ–¹å·®ã€å‡å€¼ã€ä¸­ä½æ•°å„æ˜¯å¤šå°‘(ä¿ç•™ä¸¤ä½å°æ•°)ï¼Ÿ
- 50.70, 1560.01, 1575.91
- 50.87, 1560, 1560.69
- 2588.06, 1599.89, 1599.87
- 50.87, 1599.89, 1559.87

In [3]:
import numpy as np
np.random.seed(42)

# ä½¿ç”¨numpyæä¾›çš„åº“random.normalç”Ÿæˆ1ä¸‡ä¸ªæ ·æœ¬
a = np.random.normal(1560,50.7,10000)

# å®šä¹‰ä¸€ä¸ªå‡½æ•°ï¼Œè°ƒç”¨aroundæ–¹æ³•è®¡ç®—æ–¹å·®ã€å‡å€¼ã€ä¸­ä½æ•°
def round2(x):
    return np.around(x,2)

print(round2(a.std()))
print(round2(a.mean()))
print(round2(np.median(a)))

50.87
1559.89
1559.87

## Q2-Q9
Q2-Q9å°†ä½¿ç”¨kaggleå…¥é—¨ä¸­å¸¸ä½¿ç”¨çš„æ³°å¦å°¼å…‹æ•°æ®é›†ï¼Œè¯¦æƒ…å¯ä»¥è®¿é—®[Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic)ï¼Œä¸ºäº†æ–¹ä¾¿å¤„ç†æˆ‘ä»¬å·²ç»å¯¹åŸå§‹æ•°æ®è¿›è¡Œäº†åˆæ­¥çš„å¤„ç†ï¼ˆå¦‚ç¼ºå¤±å€¼ã€å¼‚å¸¸å€¼ç­‰ï¼‰ã€‚

åœ¨è¿™ä¸€ç³»åˆ—é¢˜ç›®ä¸­ï¼Œæˆ‘ä»¬å°†ç»¼åˆä½¿ç”¨`numpy`, `pandas`å’Œ`matplotlib`è§£å†³ä¸€ä¸ªæ³°å¦å°¼å…‹å·æ•°æ®çš„åˆæ­¥åˆ†æé—®é¢˜ã€‚åœ¨æœºå™¨å­¦ä¹ ä¸­ï¼Œé€šè¿‡å¤šç§ä¸åŒçš„æ–¹å¼å¯¹æ•°æ®è¿›è¡Œåˆ†ææœ‰åŠ©äºåŠæ—¶æ•è·æ•°æ®ç‰¹å¾å’Œæ•°æ®ä¹‹é—´çš„å…³è”ã€‚

In [4]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

é¦–å…ˆæˆ‘ä»¬ä½¿ç”¨pandaså¯¼å…¥æ•°æ®

In [5]:
data = pd.read_csv('../data/titanic_train.csv',
                  index_col='PassengerId')

æŸ¥çœ‹æ•°æ®ç»“æ„å’ŒåŸºæœ¬ç»„æˆ

In [6]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

æ¯ä¸ªå­—æ®µçš„å«ä¹‰å¦‚ä¸‹ï¼š

| **Variable** | **Definition**                             | **Key**                                        |
| ------------ | ------------------------------------------ | ---------------------------------------------- |
| survival     | Survival                                   | 0 = No, 1 = Yes                                |
| pclass       | Ticket class                               | 1 = 1st, 2 = 2nd, 3 = 3rd                      |
| sex          | Sex                                        |                                                |
| Age          | Age in years                               |                                                |
| sibsp        | # of siblings / spouses aboard the Titanic |                                                |
| parch        | # of parents / children aboard the Titanic |                                                |
| ticket       | Ticket number                              |                                                |
| fare         | Passenger fare                             |                                                |
| cabin        | Cabin number                               |                                                |
| embarked     | Port of Embarkation                        | C = Cherbourg, Q = Queenstown, S = Southampton |

In [21]:
data.describe()

,Survived,Pclass,Age,SibSp,Parch,Fare,Age_category
count,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,714.000000
mean,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,1.521008
std,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,0.606400
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,1.000000
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1.000000
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,2.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,3.000000

ä¸ºäº†è®©å¤§å®¶å¿«é€Ÿç†Ÿæ‚‰pandasï¼Œæˆ‘ä»¬å‡†å¤‡äº†å‡ ä¸ªç®€å•çš„æ“ä½œï¼š

1. è®©æˆ‘ä»¬å°è¯•ä»ä¹˜å®¢ä¸­è¿‡æ»¤åªæ˜¾ç¤ºé€šè¿‡Cherbourg(Embarked=C) ç™»é™†å¹¶ä¸”ä»˜è´¹å¤§äº200ç£…ï¼ˆfare > 200ï¼‰ï¼š

In [8]:
data[(data['Embarked'] == 'C') & (data.Fare > 200)].head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
378,0,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.5000,C82,C

2. æˆ‘ä»¬å¯ä»¥ä½¿ç”¨`sort_values`é™åºæ’åˆ—è¿™äº›æ•°æ®ï¼Œæ’åºå…³é”®å­—é€šè¿‡`by`å­—æ®µå®šä¹‰

In [9]:
data[(data['Embarked'] == 'C') & 
     (data['Fare'] > 200)].sort_values(by='Fare',
                               ascending=False).head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C

3. æˆ‘ä»¬æ¥å°è¯•åœ¨æ•°æ®ä¸­æ·»åŠ ä¸€ä¸ªæ–°çš„ç‰¹å¾ï¼ˆä¸€ä¸ªæ–°çš„columnï¼‰

In [10]:
def age_category(age):
    '''
    < 30 -> 1
    >= 30, <55 -> 2
    >= 55 -> 3
    '''
    if age < 30:
        return 1
    elif age < 55:
        return 2
    elif age >= 55:
        return 3

In [11]:
age_categories = [age_category(age) for age in data.Age]
data['Age_category'] = age_categories

å¦ä¸€ç§å®ç°æ–¹æ³•æ˜¯é€šè¿‡`.apply`å‡½æ•°å®ç°
```python
data['Age_category'] = data['Age'].apply(age_category)
```

ä½ å¯ä»¥é€šè¿‡`data.head()`å‘½ä»¤æŸ¥çœ‹æ–°çš„æ•°æ®çš„æƒ…å†µ

In [12]:
 data.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_category
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1.0
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2.0
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2.0
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,2.0

### **Q2. èˆ¹ä¸Šæœ‰å¤šå°‘ç”·æ€§å’Œå¥³æ€§ï¼Ÿ**
- 412 ç”·æ€§ 479 å¥³æ€§
- 314 ç”·æ€§ 577 å¥³æ€§
- 479 ç”·æ€§ 412 å¥³æ€§
- 577 ç”·æ€§ 314 å¥³æ€§

In [15]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
# åœ¨åšè¿™ä¸ªé—®é¢˜çš„æ—¶å€™ç¬¬ä¸€æ—¶é—´åˆ¤æ–­åˆ°æ•´ä½“ä¸Šç”·æ€§æ¯”å¥³æ€§å¤š ä½†ä¸åŒç­‰çº§çš„èˆ¹ç¥¨æ¯”ä¾‹å¯èƒ½ä¸åŒ
# æœ‰å¤šå°‘ç”·æ€§
# data[data['Sex']=='male'].count
# 577 

data[(data['Fare'] > 0)].sort_values(by='Fare').head()

#data[data['Sex']=='male' & data['Sex']=='male'].count
# æœ‰å¤šå°‘å¥³æ€§
# data[data['Sex']=='female'].count
#314 
#

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_category
PassengerId,,,,,,,,,,,,
379,0,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C,1.0
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,2.0
327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S,3.0
844,0,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C,2.0
819,0,3,"Holm, Mr. John Fredrik Alexander",male,43.0,0,0,C 7075,6.4500,NaN,S,2.0

### **Q3. å½“æ—¶èˆ¹ä¸Šæœ‰å¤šå°‘ç”·æ€§æŒæœ‰äºŒçº§èˆ¹ç¥¨ï¼ˆPclass=2ï¼‰ï¼Ÿ**
- 104
- 108
- 112
- 125

In [18]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#

(data[(data['Sex']=='male') & (data['Pclass']==2)]  ).count

<bound method DataFrame.count of              Survived  Pclass                                            Name  \
PassengerId
18                  1       2                    Williams, Mr. Charles Eugene
21                  0       2                            Fynney, Mr. Joseph J
22                  1       2                           Beesley, Mr. Lawrence
34                  0       2                           Wheadon, Mr. Edward H
71                  0       2                      Jenkin, Mr. Stephen Curnow
73                  0       2                            Hood, Mr. Ambrose Jr
79                  1       2                   Caldwell, Master. Alden Gates
100                 0       2                               Kantor, Mr. Sinai
118                 0       2                 Turpin, Mr. William John Robert
121                 0       2                     Hickman, Mr. Stanley George
123                 0       2                            Nasser, Mr. Nicholas
135                 0       2                  Sobey, Mr. Samuel James Hayden
136                 0       2                              Richard, Mr. Emile
145                 0       2                      Andrew, Mr. Edgardo Samuel
146                 0       2                    Nicholls, Mr. Joseph Charles
149                 0       2        Navratil, Mr. Michel ("Louis M Hoffman")
150                 0       2               Byles, Rev. Thomas Roussel Davids
151                 0       2                      Bateman, Rev. Robert James
179                 0       2                              Hale, Mr. Reginald
182                 0       2                                Pernot, Mr. Rene
184                 1       2                       Becker, Master. Richard F
192                 0       2                           Carbines, Mr. William
194                 1       2                      Navratil, Master. Michel M
214                 0       2                     Givard, Mr. Hans Kristensen
218                 0       2                    Jacobsohn, Mr. Sidney Samuel
220                 0       2                              Harris, Mr. Walter
222                 0       2                            Bracken, Mr. James H
227                 1       2                       Mellors, Mr. William John
229                 0       2                       Fahlstrom, Mr. Arne Jonas
233                 0       2                       Sjostedt, Mr. Ernst Adolf
...               ...     ...                                             ...
673                 0       2                     Mitchell, Mr. Henry Michael
674                 1       2                           Wilhelms, Mr. Charles
675                 0       2                      Watson, Mr. Ennis Hastings
685                 0       2               Brown, Mr. Thomas William Solomon
686                 0       2          Laroche, Mr. Joseph Philippe Lemercier
696                 0       2                      Chapman, Mr. Charles Henry
706                 0       2  Morley, Mr. Henry Samuel ("Mr Henry Marshall")
715                 0       2                           Greenberg, Mr. Samuel
723                 0       2                    Gillespie, Mr. William Henry
724                 0       2                         Hodges, Mr. Henry Price
729                 0       2                 Bryhl, Mr. Kurt Arnold Gottfrid
733                 0       2                            Knight, Mr. Robert J
734                 0       2                      Berriman, Mr. William John
735                 0       2                    Troupiansky, Mr. Moses Aaron
756                 1       2                       Hamalainen, Master. Viljo
758                 0       2                        Bailey, Mr. Percy Andrew
792                 0       2                             Gaskell, Mr. Alfred
796                 0       2                              Otter, Mr. Richard
801                 0       2                            Ponesell, Mr. Martin
809                 0       2                               Meyer, Mr. August
813                 0       2                       Slemen, Mr. Richard James
818                 0       2                              Mallet, Mr. Albert
828                 1       2                           Mallet, Master. Andre
832                 1       2                 Richards, Master. George Sibley
842                 0       2                        Mudd, Mr. Thomas Charles
849                 0       2                               Harper, Rev. John
862                 0       2                     Giles, Mr. Frederick Edward
865                 0       2                          Gill, Mr. John William
884                 0       2                   Banfield, Mr. Frederick James
887                 0       2                           Montvila, Rev. Juozas

              Sex    Age  SibSp  Parch            Ticket     Fare Cabin  \
PassengerId
18           male    NaN      0      0            244373  13.0000   NaN
21           male  35.00      0      0            239865  26.0000   NaN
22           male  34.00      0      0            248698  13.0000   D56
34           male  66.00      0      0        C.A. 24579  10.5000   NaN
71           male  32.00      0      0        C.A. 33111  10.5000   NaN
73           male  21.00      0      0      S.O.C. 14879  73.5000   NaN
79           male   0.83      0      2            248738  29.0000   NaN
100          male  34.00      1      0            244367  26.0000   NaN
118          male  29.00      1      0             11668  21.0000   NaN
121          male  21.00      2      0      S.O.C. 14879  73.5000   NaN
123          male  32.50      1      0            237736  30.0708   NaN
135          male  25.00      0      0        C.A. 29178  13.0000   NaN
136          male  23.00      0      0     SC/PARIS 2133  15.0458   NaN
145          male  18.00      0      0            231945  11.5000   NaN
146          male  19.00      1      1        C.A. 33112  36.7500   NaN
149          male  36.50      0      2            230080  26.0000    F2
150          male  42.00      0      0            244310  13.0000   NaN
151          male  51.00      0      0       S.O.P. 1166  12.5250   NaN
179          male  30.00      0      0            250653  13.0000   NaN
182          male    NaN      0      0     SC/PARIS 2131  15.0500   NaN
184          male   1.00      2      1            230136  39.0000    F4
192          male  19.00      0      0             28424  13.0000   NaN
194          male   3.00      1      1            230080  26.0000    F2
214          male  30.00      0      0            250646  13.0000   NaN
218          male  42.00      1      0            243847  27.0000   NaN
220          male  30.00      0      0         W/C 14208  10.5000   NaN
222          male  27.00      0      0            220367  13.0000   NaN
227          male  19.00      0      0         SW/PP 751  10.5000   NaN
229          male  18.00      0      0            236171  13.0000   NaN
233          male  59.00      0      0            237442  13.5000   NaN
...           ...    ...    ...    ...               ...      ...   ...
673          male  70.00      0      0        C.A. 24580  10.5000   NaN
674          male  31.00      0      0            244270  13.0000   NaN
675          male    NaN      0      0            239856   0.0000   NaN
685          male  60.00      1      1             29750  39.0000   NaN
686          male  25.00      1      2     SC/Paris 2123  41.5792   NaN
696          male  52.00      0      0            248731  13.5000   NaN
706          male  39.00      0      0            250655  26.0000   NaN
715          male  52.00      0      0            250647  13.0000   NaN
723          male  34.00      0      0             12233  13.0000   NaN
724          male  50.00      0      0            250643  13.0000   NaN
729          male  25.00      1      0            236853  26.0000   NaN
733          male    NaN      0      0            239855   0.0000   NaN
734          male  23.00      0      0             28425  13.0000   NaN
735          male  23.00      0      0            233639  13.0000   NaN
756          male   0.67      1      1            250649  14.5000   NaN
758          male  18.00      0      0             29108  11.5000   NaN
792          male  16.00      0      0            239865  26.0000   NaN
796          male  39.00      0      0             28213  13.0000   NaN
801          male  34.00      0      0            250647  13.0000   NaN
809          male  39.00      0      0            248723  13.0000   NaN
813          male  35.00      0      0             28206  10.5000   NaN
818          male  31.00      1      1   S.C./PARIS 2079  37.0042   NaN
828          male   1.00      0      2   S.C./PARIS 2079  37.0042   NaN
832          male   0.83      1      1             29106  18.7500   NaN
842          male  16.00      0      0       S.O./P.P. 3  10.5000   NaN
849          male  28.00      0      1            248727  33.0000   NaN
862          male  21.00      1      0             28134  11.5000   NaN
865          male  24.00      0      0            233866  13.0000   NaN
884          male  28.00      0      0  C.A./SOTON 34068  10.5000   NaN
887          male  27.00      0      0            211536  13.0000   NaN

            Embarked  Age_category
PassengerId
18                 S           NaN
21                 S           2.0
22                 S           2.0
34                 S           3.0
71                 S           2.0
73                 S           1.0
79                 S           1.0
100                S           2.0
118                S           1.0
121                S           1.0
123                C           2.0
135                S           1.0
136                C           1.0
145                S           1.0
146                S           1.0
149                S           2.0
150                S           2.0
151                S           2.0
179                S           2.0
182                C           NaN
184                S           1.0
192                S           1.0
194                S           1.0
214                S           2.0
218                S           2.0
220                S           2.0
222                S           1.0
227                S           1.0
229                S           1.0
233                S           3.0
...              ...           ...
673                S           3.0
674                S           2.0
675                S           NaN
685                S           3.0
686                C           1.0
696                S           2.0
706                S           2.0
715                S           2.0
723                S           2.0
724                S           2.0
729                S           1.0
733                S           NaN
734                S           1.0
735                S           1.0
756                S           1.0
758                S           1.0
792                S           1.0
796                S           2.0
801                S           2.0
809                S           2.0
813                S           2.0
818                C           2.0
828                C           1.0
832                S           1.0
842                S           1.0
849                S           1.0
862                S           1.0
865                S           1.0
884                S           1.0
887                S           1.0

[108 rows x 12 columns]>

### **Q4. æ‰€æœ‰ä¹˜å®¢Fareçš„ä¸­ä½æ•°å’Œæ ‡å‡†å·®æ˜¯å¤šå°‘ï¼Ÿï¼ˆä¿ç•™ä¸¤ä½å°æ•°ï¼‰**
- ä¸­ä½æ•°ä¸º 14.45, æ ‡å‡†å·®ä¸º 49.69
- ä¸­ä½æ•°ä¸º 15.1, æ ‡å‡†å·®ä¸º 12.15
- ä¸­ä½æ•°ä¸º 13.15, æ ‡å‡†å·®ä¸º 35.3
- ä¸­ä½æ•°ä¸º  17.43, æ ‡å‡†å·®ä¸º 39.1

In [22]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
# æŠŠFareè¿™ä¸ªçŸ©é˜µå–å‡ºæ¥ç„¶åæ±‚å‡å€¼å’Œæ ‡å‡†å·®

NFare=data['Fare']
#å‡å€¼
print(round2(np.median(NFare)))
#æ ‡å‡†å·®
print(round2(NFare.std()))

14.45
49.69

### **Q5. å¹¸å­˜è€…çš„å¹³å‡å¹´é¾„æ˜¯å¦é«˜äºæœ€ç»ˆæ­»äº¡çš„ä¹˜å®¢?**
- Yes
- No

> Tips: å¯ä»¥å‚è€ƒpandasçš„`groupby`å‘½ä»¤

In [33]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#å¹¸å­˜è€…çš„å¹´é¾„å‡å€¼æ˜¯å¦å¤§äºæ­»äº¡è€…çš„å¹´é¾„å‡å€¼

# data[data['Survived']==1]['Age'].mean() > data[data['Survived']==0]['Age'].mean()

data[data['Survived']==1]['Age'].mean() > data[data['Survived']==0]['Age'].mean()

False

### **Q6.å¹´é¾„å°äº30å²çš„ä¹˜å®¢æ˜¯å¦æ¯”å¹´é¾„å¤§äº60å²çš„ä¹˜å®¢æœ‰æ›´å¤§çš„å­˜æ´»æ¦‚ç‡ï¼Ÿ å­˜æ´»æ¦‚ç‡å„ä¸ºå¤šå°‘ï¼Ÿ**
- å¹´è½»äººä¸º22.7%ï¼Œå¹´é•¿è€…ä¸º40.6% 
- å¹´è½»äººä¸º40.6%ï¼Œ å¹´é•¿è€…ä¸º22.7%
- å¹´è½»äººä¸º35.3%ï¼Œå¹´é•¿è€…ä¸º27.4%
- å¹´è½»äººä¸º27.4%ï¼Œå¹´é•¿è€…ä¸º35.3%

> Tips: å¯ä»¥æŸ¥çœ‹ pandas.crosstab()å‡½æ•°çš„ç”¨æ³•

In [34]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#

young = data[data['Age']<30]['Survived'].mean()
old = data[data['Age']>60]['Survived'].mean()
print(young,old)

0.40625 0.22727272727272727

### **Q7. å¥³æ€§æ˜¯å¦æ¯”ç”·æ€§æœ‰æ›´å¤§çš„å­˜æ´»æ¦‚ç‡? ç”·æ€§ä¸å¥³æ€§å­˜æ´»äººæ•°å„å æ‰€åœ¨æ€§åˆ«çš„ç™¾åˆ†ä¹‹å¤šå°‘ï¼Ÿ**
- ç”·æ€§ä¸º30.2%, å¥³æ€§ä¸º46.2%
- ç”·æ€§ä¸º35.7%, å¥³æ€§ä¸º74.2%
- ç”·æ€§ä¸º21.1%, å¥³æ€§ä¸º46.2%
- ç”·æ€§ä¸º18.9%, å¥³æ€§ä¸º74.2%

In [35]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#

male = data[data['Sex']=='male']['Survived'].mean()
female = data[data['Sex']=='female']['Survived'].mean()
print(male,female)

0.18890814558058924 0.7420382165605095

### **Q8. ç”·æ€§ä¹˜å®¢ä¸­æœ€å—æ¬¢è¿çš„åå­—æ˜¯ä»€ä¹ˆï¼Ÿ**
- Charles
- Thomas
- William
- John

> Tipsï¼š è¯·å¯¹ç…§ç»™å‡ºçš„å‡ ä¸ªé€‰é¡¹äº†è§£åå­—å‡ºç°çš„ä½ç½®

In [37]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#

data['short_name'] = [x.split(".")[-1].split()[0] for x in data['Name']]
data[data['Sex']=='male'].groupby(by='short_name').count().sort_values(by='Name',ascending=False).index[0]

'William'

### **Q9. ç”·æ€§/å¥³æ€§çš„å¹³å‡å¹´é¾„ä¸`Pclass`çš„å…³ç³»ï¼Œå¦‚ä¸‹å£°æ˜æ­£ç¡®çš„æ˜¯(å¤šé€‰)ï¼š**
- å¹³å‡è€Œè¨€ï¼Œä¸€çº§ä»“ä¸­çš„ç”·æ€§å¹´é¾„å¹³å‡è¶…è¿‡40å²
- ä¸€çº§ä»“ä¸­å¥³æ€§çš„å¹³å‡å¹´é¾„è¶…è¿‡40å²
- æ‰€æœ‰ä¸åŒçº§åˆ«ä»“ä¸­ç”·æ€§çš„å¹³å‡å¹´é¾„éƒ½å¤§äºåŒä¸€çº§ä»“ä¸­çš„å¥³æ€§
- å¹³å‡è€Œè¨€ï¼Œä¸€çº§ä»“ä¹˜å®¢å¹´é¾„å¤§äºäºŒçº§ç¥¨ä»“ï¼ŒäºŒçº§ä»“å¤§äºä¸‰çº§ç¥¨ä»“

In [38]:
# åœ¨æ­¤ç¼–å†™ä»£ç å›ç­”é—®é¢˜
#

print(data[(data['Pclass']==1) & (data['Sex']=='male')]['Age'].mean() > 40)
print(data[(data['Pclass']==1) & (data['Sex']=='female')]['Age'].mean() > 40)
for Pclass in set(data['Pclass']):
    print(data[(data['Pclass']==Pclass) & (data['Sex']=='male')]['Age'].mean() > \
     data[(data['Pclass']==Pclass) & (data['Sex']=='female')]['Age'].mean())
    
classes = list(set(data['Pclass']))
classes.sort()
for i in range(len(classes)-1):
    print(data[(data['Pclass']==classes[i])]['Age'].mean() > 
     data[(data['Pclass']==classes[i+1])]['Age'].mean())

True
False
True
True
True
True
True